Content/BlackAlder
Content/Megascans
Content/Geometry
Content/MSPresets
Content/StarterContent
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
